body{
   
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* Welcome section css*/
.Welcome_wrapper{
    display: flex;
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;

}
.Welcome_left_side_content{
    width: 50%;
    padding-left: 5%;
}
.Welcome_left_side_content h1{
    font-size: 50px;
}
.Title_color{
    color: orange;
}
.Welcome_btn{
    padding: 10px 50px;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
}
.Welcome_right_side_content{
    width: 50%;
    padding-left: 5%;
}
.Welcome_right_side_content img{
    width: 80%;
}
/* Dream Big section css*/
.Dream_Big_wrapper{
    display: flex;
    margin-top: 150px;
}
.Welcome_left_side_content{
padding-left: 5%;
}
.Welcome_right_side_content{
    padding-left: 5%;
}
.Welcome_right_side_content h1{
    font-size: 50px;
}
.Welcome_left_side_content img{
    width: 80%;
}
.Dream_Big_btn{
    padding: 10px 40px;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
}

/*exprience section*/
.exprience_content_wrapper{
    display: flex;
    margin-bottom: 150px;

}
.exprience_title{
    font-size: 50px;
}


.Experiences_left_side_content{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 5px 10px 18px #888888;
    padding: 5%;
    border-left: 5px solid;
    border-image: linear-gradient(orange, tomato );
   border-image-slice: 1;

}

.Experiences_left_side_content h3{
color: orange;
}
.Experiences_right_side_content{
width: 50%;
margin-left: 5%;
margin-right: 5%;
padding: 5%;
box-shadow: 10px 10px 18px #888888;
border-left: 5px solid;
border-image: linear-gradient(rgb(0, 81, 255), tomato );
border-image-slice: 1;
}
.Experiences_right_side_content h3{
color: orange;
}

/*footer section*/
footer p{
    text-align: center;
}
